XÂY DỰNG CHƯƠNG TRÌNH KIỂM ĐỊNH Z (HOẶC T) CHO CÁC BÀI TẬP SAU

Gợi ý:

- Số liệu được sinh ngẫu nhiên theo phân phối chuẩn
- Sử dụng gói phần mềm statsmodels để tiến hành kiểm định
- Đối với các bài tập kiểm định giả thuyết thì sinh viên cần phát biểu các giả thuyết (bằng tiếng Việt) $H_{0}$ và $H_{a}$ trước khi lập trình kiểm định

Bài 1: Bạn là thanh tra Q / C cho Gallo. Độ lệch chuẩn của mẫu đối với chai 2 lít là 0,05 lít. Một mẫu ngẫu nhiên gồm 100 chai cho thấy sample trung bình = 1,99 lít. Ước lượng khoảng tin cậy 90% của lượng trung bình thực trong chai 2 lít là bao nhiêu?

Giả thuyết:

- $\overline{\rm X} = 1.99$
- $\mu = 2$
- $\sigma = 0.05$
- $\alpha = 0.1$
- $n =100$

=> Khoảng ước lượng cho $\mu = 95$% có dạng:

($\mu_{1};\mu_{2}$) = ( $\overline{\rm X} - \epsilon; \overline{\rm X} + \epsilon$)

Với $\epsilon = \left(\frac{\sigma}{\sqrt(n)}.t_{\frac{1-\alpha}{2}}\right)$

$t_{\frac{1-\alpha}{2}}$ = $t_{\frac{1 - 0.1}{2}}$ = $t_{0.45}$ = 1.645

In [1]:
import numpy as np
import pandas as pd
import random
from scipy import stats
from statsmodels.stats.weightstats import ztest
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
import statistics 
import math

In [2]:
warnings.filterwarnings('ignore')

In [3]:
class Bai1():


    def __init__(self):
        mean = 1.9
        std = 0.1
        count = 100
        self.array = np.random.normal(mean, std, count)
            
    def arrange(self):
        return self.array.sort()
    
    def mean(self):
        return (sum(self.array)/len(self.array))
    
    def sig(self):
        return statistics.stdev(self.array)

In [4]:
random.seed(0)
sample1 = Bai1()
sample1.arrange()
print(sample1.array)

[1.61189282 1.66757198 1.66782148 1.70065808 1.70941868 1.71398259
 1.71432763 1.71488478 1.723165   1.72550168 1.74156057 1.74215168
 1.76349752 1.765701   1.77279058 1.78014981 1.79097958 1.79615679
 1.80117172 1.8042293  1.80903218 1.80984519 1.82237396 1.82385741
 1.82776201 1.82881564 1.82948036 1.83069615 1.83314311 1.83321007
 1.83348449 1.84076466 1.8415084  1.84510296 1.85369455 1.85455935
 1.8600223  1.86089087 1.86180546 1.86293046 1.86372669 1.87120465
 1.87343759 1.88022452 1.88319621 1.89145963 1.89649703 1.89694397
 1.90049059 1.90216155 1.90235659 1.90415227 1.90528643 1.91134548
 1.91726038 1.92052908 1.92474242 1.92517827 1.9254614  1.9286999
 1.92948571 1.9347201  1.93703192 1.93858035 1.94084132 1.94086623
 1.94797644 1.94899206 1.95319696 1.95324251 1.9552218  1.95820531
 1.96971546 1.97224442 1.97499596 1.97823616 1.97923686 1.98191749
 1.98224862 1.98547605 1.98849725 2.01394572 2.02237821 2.03088616
 2.03196357 2.03947549 2.05464551 2.05557406 2.05582813 2.06019106
 2.06772632 2.06842619 2.07502354 2.08772849 2.1138446  2.11634454
 2.14064364 2.15766845 2.15929241 2.16376508]

In [5]:
test = pd.DataFrame(sample1.array)
test.columns = ['Liter']
test

       Liter
0   1.611893
1   1.667572
2   1.667821
3   1.700658
4   1.709419
..       ...
95  2.116345
96  2.140644
97  2.157668
98  2.159292
99  2.163765

[100 rows x 1 columns]

In [7]:
mean_bt1 = sample1.mean()
print(mean_bt1)
print('-'*50)
std_bt1 = sample1.sig()
print(std_bt1)
print('-'*50)
n = 100

1.9016122765229773
--------------------------------------------------
0.11965727867248312
--------------------------------------------------

In [9]:
epsilon_bt1 = (std_bt1/math.sqrt(n))*1.645
epsilon_bt1

0.019683622341623474

In [10]:
print('Vậy uớc lượng khoảng tin cậy 90% của lượng trung bình thực trong chai 2 lít là:')
print('(',mean_bt1 - epsilon_bt1,':',mean_bt1 + epsilon_bt1,')')

Vậy uớc lượng khoảng tin cậy 90% của lượng trung bình thực trong chai 2 lít là:
( 1.8819286541813538 : 1.9212958988646007 )

Bài 2: Bạn là một nhà phân tích nghiên cứu thời gian trong lĩnh vực sản xuất. Bạn đã ghi lại thời gian tác vụ sau (tối thiểu): 3.6, 4.2, 4.0, 3.5, 3.8, 3.1. Ước tính khoảng tin cậy 90% của thời gian thực hiện nhiệm vụ trung bình của tổng thể là bao nhiêu?

In [11]:
class Bai2():
    
    
    def __init__(self):
        count = int(input('Nhập count: '))
        data = []
        for x in range(count):
            a = np.random.uniform(3, 5)
            data.append(round(a, 4))        
        self.data = data
    
    def arrange(self):
        return self.data.sort()
    
    def mean(self):
        return (sum(self.data)/len(self.data))
    
    def std(self):
        return statistics.stdev(self.data)
    
    def epsilon(self):
        return statistics.stdev(self.data)/math.sqrt(len(self.data))

In [19]:
bt2 = Bai2()
bt2.data

Nhập count: 10

[3.4191, 3.87, 3.6586, 4.891, 3.4069, 3.6377, 4.1495, 4.6318, 3.0169, 4.475]

In [20]:
data2 = pd.DataFrame(bt2.data)
data2.columns = ['Time']
data2

     Time
0  3.4191
1  3.8700
2  3.6586
3  4.8910
4  3.4069
5  3.6377
6  4.1495
7  4.6318
8  3.0169
9  4.4750

In [22]:
print('Giá trị trung bình là:')
mean_bt2 = bt2.mean()
print(round(mean_bt2, 4))
print('-'*50)
print('Độ lệch chuẩn của data là:')
std_bt2 = bt2.std()
print(round(std_bt2, 4))
print('-'*50)
print('Epsilon là: ')
epsilon_bt2 = bt2.epsilon()
print(round(epsilon_bt2, 4))

Giá trị trung bình là:
3.9157
--------------------------------------------------
Độ lệch chuẩn của data là:
0.6046
--------------------------------------------------
Epsilon là:
0.1912

In [31]:
print('Vậy ước tính khoảng tin cậy 90% của thời gian thực hiện nhiệm vụ trung bình của tổng thể là:')
print('(',mean_bt2 - epsilon_bt2,':',mean_bt2 + epsilon_bt2,')')
print('-'*100)

Vậy ước tính khoảng tin cậy 90% của thời gian thực hiện nhiệm vụ trung bình của tổng thể là:
( 3.7244464567680704 : 4.10685354323193 )
----------------------------------------------------------------------------------------------------

Bài 3: Một hộp cốm trung bình có 368 gam cốm? Một mẫu ngẫu nhiên gồm 25 hộp có $\overline{\rm X}$ = 372,5. Công ty đã quy định $\sigma$ là 25 gram. Kiểm định ở mức ý nghĩa .05.

- $n = 25$
- $\overline{\rm X} = 372.5$
- $\sigma = 25$
- $\alpha = 0.05$

=> $H_{0}: \overline{\rm X} = 368? $

Vì $n = 25$ (<30) và X ~ $N(\mu, \sigma^2)$ nên:
- $df = 24; \alpha = 0.05$
 => $t_{\frac{1-\alpha}{2}}$ = $t_{\frac{1 - 0.05}{2}}$ = $t_{0.475}$ = 2.064
- $\epsilon = \left(\frac{\sigma}{\sqrt(n)}.t_{\frac{1-\alpha}{2}}\right)$

In [24]:
class Bai3():
    
    
    def __init__(self):
        count = 25
        sig = 25
        mean = 372.5
        self.data = np.random.normal(mean, sig, count)
    
    def arrange(self):
        return self.data.sort()
    
    def mean(self):
        return sum(self.data)/len(self.data)
    
    def std(self):
        return statistics.stdev(self.data)
    
    def epsilon(self):
        return statistics.stdev(self.data)/math.sqrt(len(self.data))

In [25]:
bt3 = Bai3()
bt3.data

array([316.36516859, 386.88704571, 381.23574352, 356.63714767,
       371.81075663, 346.32152495, 385.0543729 , 376.54689011,
       410.87899393, 374.35115273, 381.19962892, 370.60377812,
       391.72741458, 352.48397094, 338.67023762, 406.6197443 ,
       354.43042954, 398.01010198, 369.51571601, 395.42276874,
       395.2274974 , 359.55419628, 402.42167269, 382.37793044,
       385.44628262])

In [26]:
data3 = pd.DataFrame(bt3.data)
data3.columns = ['Khối lượng tịnh (gram)']
data3

    Khối lượng tịnh (gram)
0               316.365169
1               386.887046
2               381.235744
3               356.637148
4               371.810757
5               346.321525
6               385.054373
7               376.546890
8               410.878994
9               374.351153
10              381.199629
11              370.603778
12              391.727415
13              352.483971
14              338.670238
15              406.619744
16              354.430430
17              398.010102
18              369.515716
19              395.422769
20              395.227497
21              359.554196
22              402.421673
23              382.377930
24              385.446283

In [29]:
print('Giá trị trung bình là:')
mean_bt3 = bt3.mean()
print(round(mean_bt3, 4))
print('-'*50)
print('Độ lệch chuẩn của data là:')
std_bt3 = bt3.std()
print(round(std_bt3, 4))
print('-'*50)
print('Epsilon là: ')
epsilon_bt3 = bt3.epsilon()
print(round(epsilon_bt3, 4))
h0 = 368
muy1 = mean_bt3 - epsilon_bt3
muy2 = mean_bt3 + epsilon_bt3

Giá trị trung bình là:
375.592
--------------------------------------------------
Độ lệch chuẩn của data là:
22.6363
--------------------------------------------------
Epsilon là:
4.5273

In [30]:
print('Vậy ước tính khoảng tin cậy 95% của khối lượng trong mỗi gói cốm là:')
print('(',muy1,':',muy2,')')
if (h0 > muy1) and (h0 < muy2):
    print('Không đủ bằng chứng bác bỏ giả thuyết H0')
else:
    print('Bác bỏ giả thuyết H0')

Vậy ước tính khoảng tin cậy 95% của khối lượng trong mỗi gói cốm là:
( 371.06474384831876 : 380.11926950674984 )
Bác bỏ giả thuyết H0

Bài 4: Bạn là nhân viên kiểm tra Q / C. Bạn muốn tìm hiểu xem một chiếc máy mới có đang làm dây điện theo thông số kỹ thuật của khách hàng hay không: độ bền đứt trung bình là 70 lb. với σ = 3,5 lb. Bạn lấy mẫu 36 dây và tính giá trị trung bình mẫu là 69,7 lb. Tại 0,05 mức độ ý nghĩa, có bằng chứng cho thấy máy không đạt độ bền đứt trung bình không?

Giả thuyết:
- Giá trị trung bình $\overline{\rm X} = 69.7$
- Độ lệch chuẩn $\sigma = 3.5$ 
- Số lượng mẫu $n = 36$ (n > 30)
    - $t_{\frac{1-\alpha}{2}}$ = $t_{\frac{1 - 0.05}{2}}$ = $t_{0.475}$ = 1.96
    (Sử dụng bảng phân phối chuẩn Laplace)
- Mức ý nghĩa $\alpha = 0.05$

Có hay không bằng chứng cho $H_{0}: \overline{\rm X} = 70?$

In [38]:
class Bai4():
    
    
    def __init__(self):
        count = 36
        mean = 69.7
        std = 3.5
        self.data = np.random.normal(mean, std, count)
        
    def arrange(self):
        return self.data.sort()
    
    def mean(self):
        return sum(self.data)/len(self.data)
    
    def std(self):
        return statistics.stdev(self.data)
    
    def epsilon(self):
        return statistics.stdev(self.data)/math.sqrt(len(self.data))

In [39]:
bt4 = Bai4()
bt4.data

array([67.63552139, 77.37436372, 70.77897239, 68.20789441, 73.22167947,
       75.40683274, 68.90942121, 68.0083561 , 67.09067895, 70.4095214 ,
       68.0562042 , 77.29472151, 68.03117325, 72.050952  , 70.74650377,
       74.93916157, 68.6668736 , 64.62741029, 72.36051205, 63.82123269,
       73.34729538, 71.00226861, 67.99065411, 72.99688763, 74.64192168,
       64.31744157, 72.08385472, 71.21213781, 67.27737316, 69.66326947,
       72.50975569, 70.90542196, 72.79688464, 68.74187288, 72.74350316,
       68.3446562 ])

In [40]:
data4 = pd.DataFrame(bt4.data)
data4.columns = ['Sức bền (LB)']
data4

    Sức bền (LB)
0      67.635521
1      77.374364
2      70.778972
3      68.207894
4      73.221679
5      75.406833
6      68.909421
7      68.008356
8      67.090679
9      70.409521
10     68.056204
11     77.294722
12     68.031173
13     72.050952
14     70.746504
15     74.939162
16     68.666874
17     64.627410
18     72.360512
19     63.821233
20     73.347295
21     71.002269
22     67.990654
23     72.996888
24     74.641922
25     64.317442
26     72.083855
27     71.212138
28     67.277373
29     69.663269
30     72.509756
31     70.905422
32     72.796885
33     68.741873
34     72.743503
35     68.344656

In [42]:
print('Giá trị trung bình là:')
mean_bt4 = bt4.mean()
print(round(mean_bt4, 4))
print('-'*50)
print('Độ lệch chuẩn của data là:')
std_bt4 = bt4.std()
print(round(std_bt4, 4))
print('-'*50)
print('Epsilon là: ')
epsilon_bt4 = bt4.epsilon()
print(round(epsilon_bt3, 4))
h0 = 70
muy1_bt4 = mean_bt4 - epsilon_bt4
muy2_bt4 = mean_bt4 + epsilon_bt4

Giá trị trung bình là:
70.5059
--------------------------------------------------
Độ lệch chuẩn của data là:
3.3449
--------------------------------------------------
Epsilon là:
4.5273

In [43]:
print('Vậy ước tính khoảng tin cậy 95% sức căng của máy là:')
print('(',muy1_bt4,':',muy2_bt4,')')
if (h0 > muy1_bt4) and (h0 < muy2_bt4):
    print('Không đủ bằng chứng bác bỏ giả thuyết H0')
else:
    print('Bác bỏ giả thuyết H0')

Vậy ước tính khoảng tin cậy 95% sức căng của máy là:
( 69.94844012431449 : 71.06340350739217 )
Không đủ bằng chứng bác bỏ giả thuyết H0

Bài 6: Bạn là nhà phân tích của Ford. Bạn muốn tìm hiểu xem dặm trung bình cho mỗi gallon Escorts ít nhất là 32 mpg. Các mô hình tương tự có độ lệch chuẩn là 3,8 mpg. Bạn lấy mẫu 60 Escorts và tính giá trị trung bình mẫu là 30,7 mpg. Ở cấp .01 có ý nghĩa, là có bằng chứng cho thấy dặm cho mỗi gallon là ít hơn 32?

Giả thuyết:
- Giá trị trung bình $\overline{\rm X} = 30.7$
- Số lượng mẫu $n = 60$ (n > 30)
    - $t_{\frac{1-\alpha}{2}}$ = $t_{\frac{1 - 0.01}{2}}$ = $t_{0.495}$ = 2.575
- Độ lệch chuẩn $\sigma = 3.8$
- Mức ý nghĩa $\alpha = 0.01$ 

Có hay không bằng chứng $H_{0}: \overline{\rm X} \leq 32$