Câu 1: Hãy tạo 1 đối tượng kiểu Series có tối thiểu 10 phần tử (kiểu số) với giá trị tùy ý thích của bạn. 
       In giá trị của Series đó ra màn hình

In [29]:
import pandas as pd
import random 

n = int(input("Nhập giá trị của n: "))
test = []
for item in range(n):
    a = random.randint(-1000, 1000)
    test.append(a)

print(test)
print(pd.Series(test))

Nhập giá trị của n: 15
[-959, -163, 705, -421, 536, 360, -316, 859, 968, -252, 616, 193, 723, -307, -195]
0    -959
1    -163
2     705
3    -421
4     536
5     360
6    -316
7     859
8     968
9    -252
10    616
11    193
12    723
13   -307
14   -195
dtype: int64

Câu 2: Hãy tạo 1 đối tượng kiểu Series với giá trị khởi tạo hình thành từ dữ liệu kiểu Dictionary. In kết quả ra màn hình

In [28]:
import pandas as pd


dic = {"Trung": 1, "Nam": 2, "Hai": 3, "Thanh": 4, "Ngan": 5, 
       "Mai": 6, "Tam": 7, "Thien":8, "Jack": 9, "Lucifer": 10}

ser = pd.Series(dic)
ser

Trung       1
Nam         2
Hai         3
Thanh       4
Ngan        5
Mai         6
Tam         7
Thien       8
Jack        9
Lucifer    10
dtype: int64

Câu 3: Sử dụng series ở câu 1, hãy thay đổi giá trị của cột index từ kiểu số theo kiểu ký tự với giá trị do bạn tự xác định.

In [35]:
series = pd.Series((test), 
                   index = ["A11", "B22", "C33",
                            "D33", "E22", "F11", 
                            "GG22", "Hkdg11", "I77",
                            "J12311", "11", "22", 
                            "33", "77", "1177"]
                  )
series

A11      -959
B22      -163
C33       705
D33      -421
E22       536
F11       360
GG22     -316
Hkdg11    859
I77       968
J12311   -252
11        616
22        193
33        723
77       -307
1177     -195
dtype: int64

Câu 4: Sử dụng series ở câu 2, hãy truy cập đến phần tử thứ 5 và in ra màn hình

In [8]:
ser[4]

5

Câu 5: Sử dụng series ở câu 3, hãy truy cập đến 1 phần tử dựa theo chỉ số kiểu ký tự do bạn lựa chọn và in ra màn hình

In [17]:
series["A"], series["C"], series["F"]

(-850, -983, -391)

Câu 6: Sử dụng series ở câu 3, hãy tìm ra tính chất đặc thù trong các chỉ số kiểu kí tự, thực hiện vòng lặp for duyệt trên các chỉ mục kiểu kí tự này để lọc ra những phần tử thỏa mãn điều kiện và in ra màn hình

In [36]:
series[[name.endswith("77") or name.startswith("G") for name in series.index]]

GG22   -316
I77     968
77     -307
1177   -195
dtype: int64

Câu 7: Sử dụng series ở câu 1, hãy đổi tên cột index thành 'STT' và đặt tên cho series là 'Gia_tri'. In kết quả ra màn hình

In [40]:
series.index.name = "STT"
series.name = "Gia_tri"
series

STT
A11      -959
B22      -163
C33       705
D33      -421
E22       536
F11       360
GG22     -316
Hkdg11    859
I77       968
J12311   -252
11        616
22        193
33        723
77       -307
1177     -195
Name: Gia_tri, dtype: int64

Câu 8: Hãy áp dụng hàm logarith của gói numpy với series ở câu 1 và in kết quả ra màn hình

In [41]:
import numpy as np


np.log(series)

C:\Users\PC\anaconda3\lib\site-packages\pandas\core\series.py:726: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

STT
A11            NaN
B22            NaN
C33       6.558198
D33            NaN
E22       6.284134
F11       5.886104
GG22           NaN
Hkdg11    6.755769
I77       6.875232
J12311         NaN
11        6.423247
22        5.262690
33        6.583409
77             NaN
1177           NaN
Name: Gia_tri, dtype: float64

Câu 9: Lọc các giá trị của series 1 > 15 và in ra màn hình

In [44]:
series[1:15]

STT
B22      -163
C33       705
D33      -421
E22       536
F11       360
GG22     -316
Hkdg11    859
I77       968
J12311   -252
11        616
22        193
33        723
77       -307
1177     -195
Name: Gia_tri, dtype: int64