XÂY DỰNG CHƯƠNG TRÌNH KIỂM ĐỊNH Z (HOẶC T) CHO CÁC BÀI TẬP SAU

Gợi ý:

- Số liệu được sinh ngẫu nhiên theo phân phối chuẩn
- Sử dụng gói phần mềm statsmodels để tiến hành kiểm định
- Đối với các bài tập kiểm định giả thuyết thì sinh viên cần phát biểu các giả thuyết (bằng tiếng Việt) $H_{0}$ và $H_{a}$ trước khi lập trình kiểm định

Bài 1: Bạn là thanh tra Q / C cho Gallo. Độ lệch chuẩn của mẫu đối với chai 2 lít là 0,05 lít. Một mẫu ngẫu nhiên gồm 100 chai cho thấy sample trung bình = 1,99 lít. Ước lượng khoảng tin cậy 90% của lượng trung bình thực trong chai 2 lít là bao nhiêu?

Giả thuyết:

- $\overline{\rm X} = 1.99$
- $\mu = 2$
- $\sigma = 0.05$
- $\alpha = 0.1$
- $n =100$

=> Khoảng ước lượng cho $\mu = 95$% có dạng:

($\mu_{1};\mu_{2}$) = ( $\overline{\rm X} - \epsilon; \overline{\rm X} + \epsilon$)

Với $\epsilon = \left(\frac{\sigma}{\sqrt(n)}.t_{\frac{1-\alpha}{2}}\right)$

$t_{\frac{1-\alpha}{2}}$ = $t_{\frac{1 - 0.1}{2}}$ = $t_{0.45}$ = 1.645

In [3]:
import numpy as np
import pandas as pd
import random
from scipy import stats
from statsmodels.stats.weightstats import ztest
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
import statistics 
import math

In [2]:
warnings.filterwarnings('ignore')

In [3]:
class Bai1():


    def __init__(self):
        mean = 1.9
        std = 0.1
        count = 100
        self.array = np.random.normal(mean, std, count)
            
    def arrange(self):
        return self.array.sort()
    
    def mean(self):
        return (sum(self.array)/len(self.array))
    
    def sig(self):
        return statistics.stdev(self.array)

In [4]:
random.seed(0)
sample1 = Bai1()
sample1.arrange()
print(sample1.array)

[1.67056046 1.69487231 1.71775437 1.72883397 1.74384047 1.74698414
 1.76150497 1.76634875 1.777765   1.77849588 1.77944828 1.78609155
 1.78892184 1.78915928 1.79255766 1.79260862 1.79336119 1.79541561
 1.79998689 1.80336235 1.80852516 1.81020968 1.81052534 1.82376556
 1.83283565 1.83448034 1.83682485 1.83981714 1.84500038 1.84662647
 1.84900012 1.84900324 1.85033698 1.85227197 1.85361184 1.85495595
 1.85582699 1.85620324 1.85738985 1.85971198 1.86750077 1.87104371
 1.87126586 1.8750316  1.88188876 1.88240072 1.88242904 1.88578642
 1.88642198 1.88782674 1.89037358 1.89176222 1.89318521 1.8938717
 1.90010715 1.90037614 1.91124016 1.91130869 1.91409557 1.92167761
 1.92342589 1.92993391 1.93002347 1.9325009  1.9335655  1.93439903
 1.93656942 1.93728209 1.93918498 1.94081618 1.94163428 1.94180006
 1.94210443 1.94545961 1.9489221  1.95188622 1.95315018 1.95704012
 1.9571273  1.9674075  1.9707019  1.97085714 1.9741555  1.97935905
 1.99569309 2.00431483 2.01556175 2.02090253 2.02172744 2.03688311
 2.03893554 2.04546141 2.06547173 2.068017   2.06991014 2.08281486
 2.11133296 2.11520522 2.13110503 2.15174517]

In [5]:
test = pd.DataFrame(sample1.array)
test.columns = ['Liter']
test

       Liter
0   1.670560
1   1.694872
2   1.717754
3   1.728834
4   1.743840
..       ...
95  2.082815
96  2.111333
97  2.115205
98  2.131105
99  2.151745

[100 rows x 1 columns]

In [6]:
mean_bt1 = sample1.mean()
print(mean_bt1)
print('-'*50)
std_bt1 = sample1.sig()
print(std_bt1)
print('-'*50)
n = 100

1.8966877845954733
--------------------------------------------------
0.09923672205311644
--------------------------------------------------

In [7]:
epsilon_bt1 = (std_bt1/math.sqrt(n))*1.645
epsilon_bt1

0.016324440777737655

In [8]:
print('Vậy uớc lượng khoảng tin cậy 90% của lượng trung bình thực trong chai 2 lít là:')
print('(',mean_bt1 - epsilon_bt1,':',mean_bt1 + epsilon_bt1,')')

Vậy uớc lượng khoảng tin cậy 90% của lượng trung bình thực trong chai 2 lít là:
( 1.8803633438177356 : 1.913012225373211 )

Bài 2: Bạn là một nhà phân tích nghiên cứu thời gian trong lĩnh vực sản xuất. Bạn đã ghi lại thời gian tác vụ sau (tối thiểu): 3.6, 4.2, 4.0, 3.5, 3.8, 3.1. Ước tính khoảng tin cậy 90% của thời gian thực hiện nhiệm vụ trung bình của tổng thể là bao nhiêu?

In [4]:
class Bai2():
    
    
    def __init__(self):
        count = int(input('Nhập count: '))
        data = []
        for x in range(count):
            a = np.random.uniform(3, 5)
            data.append(round(a, 4))        
        self.data = data
    
    def arrange(self):
        return self.data.sort()
    
    def mean(self):
        return (sum(self.data)/len(self.data))
    
    def std(self):
        return statistics.stdev(self.data)
    
    def epsilon(self):
        return statistics.stdev(self.data)/math.sqrt(len(self.data))*1.645

In [7]:
bt2 = Bai2()
bt2.arrange()
bt2.data

Nhập count: 20

[3.0631,
 3.1068,
 3.1821,
 3.5108,
 3.6448,
 3.8468,
 3.9047,
 3.9588,
 4.0158,
 4.185,
 4.2926,
 4.4948,
 4.5304,
 4.6872,
 4.7269,
 4.7792,
 4.807,
 4.8791,
 4.9196,
 4.9308]

In [8]:
data2 = pd.DataFrame(bt2.data)
data2.columns = ['Time']
data2

      Time
0   3.0631
1   3.1068
2   3.1821
3   3.5108
4   3.6448
5   3.8468
6   3.9047
7   3.9588
8   4.0158
9   4.1850
10  4.2926
11  4.4948
12  4.5304
13  4.6872
14  4.7269
15  4.7792
16  4.8070
17  4.8791
18  4.9196
19  4.9308

In [9]:
print('Giá trị trung bình là:')
mean_bt2 = bt2.mean()
print(round(mean_bt2, 4))
print('-'*50)
print('Độ lệch chuẩn của data là:')
std_bt2 = bt2.std()
print(round(std_bt2, 4))
print('-'*50)
print('Epsilon là: ')
epsilon_bt2 = bt2.epsilon()
print(round(epsilon_bt2, 4))

Giá trị trung bình là:
4.1733
--------------------------------------------------
Độ lệch chuẩn của data là:
0.6297
--------------------------------------------------
Epsilon là:
0.2316

In [10]:
print('Vậy ước tính khoảng tin cậy 90% của thời gian thực hiện nhiệm vụ trung bình của tổng thể là:')
print('(',mean_bt2 - epsilon_bt2,':',mean_bt2 + epsilon_bt2,')')
print('-'*100)

Vậy ước tính khoảng tin cậy 90% của thời gian thực hiện nhiệm vụ trung bình của tổng thể là:
( 3.9416944493387063 : 4.404935550661294 )
----------------------------------------------------------------------------------------------------

Bài 3: Một hộp ngũ cốc trung bình có 368 gam ngũ cốc? Một mẫu ngẫu nhiên gồm 25 hộp có $\overline{\rm X}$ = 372,5. Công ty đã quy định $\sigma$ là 25 gram. Kiểm định ở mức ý nghĩa .05.

- $n = 25$
- $\overline{\rm X} = 372.5$
- $\sigma = 25$
- $\alpha = 0.05$


Bài giải hoàn chỉnh:

B1: Phát biểu giả thuyết $H_{0}$ và $H_{a}$ 
- $H_{0}: \overline(\rm X) = 368 $
- $H_{a}: \overline(\rm X) \neq 368$ ( Đây là dạng kiểm định giả thuyết 2 đuôi)

B2: Chọn 1 mô hình thống kê.
- $K = \left(\frac{\overline{\rm X} - \mu}{\sigma}.\sqrt(n)\right)\sim$ $N(0,1)$

( Hầu hết các bài toán thống kê đều sử dụng mô hình này)

B3: Tìm miền bác bỏ
- Có dạng: $B_{\alpha} = (\infty ; -Z_{*}) \bigcup (Z_{*} ; \infty)$
    - Nếu $K$ thuộc $B_{\alpha}$ thì kết luận: "Có bằng chứng bác bỏ $H_{0}$" 
    - Ngược lại "Không đủ bằng chứng bác bỏ giả thuyết $H_{0}$" 
    
Vì:
- $n = 25 (< 30)$ ( $\rightarrow$ Sử dụng bảng phân phối Student) $\sim N(\mu, \sigma^2)$ nên:
    - $df = 24 ; \alpha = 0.05$
 => $t_{\frac{1-\alpha}{2}}$ = $t_{\frac{1 - 0.05}{2}}$ = $t_{0.475}$ = 2.064
- Miền bác bỏ: $$ \implies B_{\alpha} = (-\infty ; -2.064) \bigcup ( 2.064 ; \infty)$$

In [11]:
class Bai3():
    
    
    def __init__(self):
        count = 25
        sig = 25
        mean = 372.5
        self.data = np.random.normal(mean, sig, count)
    
    def arrange(self):
        return self.data.sort()
    
    def mean(self):
        return sum(self.data)/len(self.data)
    
    def std(self):
        return statistics.stdev(self.data)
    
    def epsilon(self):
        return statistics.stdev(self.data)/math.sqrt(len(self.data))*2.064

In [13]:
bt3 = Bai3()
bt3.arrange()
bt3.data

array([325.10008207, 341.69136484, 350.2519789 , 350.60394683,
       351.88892936, 353.5640813 , 356.75567431, 357.2310464 ,
       359.42573916, 362.20111324, 362.53052671, 363.80586395,
       368.01301658, 368.36643788, 370.3615473 , 372.48183701,
       375.91599391, 378.76384184, 382.49574212, 386.3120351 ,
       388.12434731, 389.32674274, 392.27605922, 397.33974229,
       413.83357627])

In [14]:
data3 = pd.DataFrame(bt3.data)
data3.columns = ['Khối lượng tịnh (gram)']
data3

    Khối lượng tịnh (gram)
0               325.100082
1               341.691365
2               350.251979
3               350.603947
4               351.888929
5               353.564081
6               356.755674
7               357.231046
8               359.425739
9               362.201113
10              362.530527
11              363.805864
12              368.013017
13              368.366438
14              370.361547
15              372.481837
16              375.915994
17              378.763842
18              382.495742
19              386.312035
20              388.124347
21              389.326743
22              392.276059
23              397.339742
24              413.833576

In [15]:
print('Giá trị trung bình là:')
mean_bt3 = bt3.mean()
print(round(mean_bt3, 4))
print('-'*50)
print('Độ lệch chuẩn của data là:')
std_bt3 = bt3.std()
print(round(std_bt3, 4))
print('-'*50)
print('Epsilon là: ')
epsilon_bt3 = bt3.epsilon()
print(round(epsilon_bt3, 4))
h0 = 368
muy1 = mean_bt3 - epsilon_bt3
muy2 = mean_bt3 + epsilon_bt3

Giá trị trung bình là:
368.7465
--------------------------------------------------
Độ lệch chuẩn của data là:
19.5381
--------------------------------------------------
Epsilon là:
8.0653

In [17]:
print('Vậy ước tính khoảng tin cậy 95% của khối lượng trong mỗi gói cốm là:')
print('(',muy1,':',muy2,')')
if (h0 > muy1) and (h0 < muy2):
    print('Không đủ bằng chứng bác bỏ giả thuyết H0')
else:
    print('Bác bỏ giả thuyết H0')

Vậy ước tính khoảng tin cậy 95% của khối lượng trong mỗi gói cốm là:
( 360.68111562913384 : 376.81178570382474 )
Không đủ bằng chứng bác bỏ giả thuyết H0

In [18]:
#Kiểm định z
null_mean = 368
alpha = 0.05

ztest_Score, p_value= ztest(data3, value = null_mean, alternative='larger')
print('Giá trị z: ',ztest_Score)
print('-'*50)
print('Giá trị p: ',p_value)
print('-'*50)
if(p_value <  alpha):
  print("Có bằng chứng để bác bỏ giả thuyết H0")
else:
  print("Không đủ bằng chứng để bác bỏ giả thuyết H0")

Giá trị z:  [0.1910242]
--------------------------------------------------
Giá trị p:  [0.42425332]
--------------------------------------------------
Không đủ bằng chứng để bác bỏ giả thuyết H0

Thực ra ztest_Score ở trên chính là tính giá trị $K$

Bài 4: Bạn là nhân viên kiểm tra Q / C. Bạn muốn tìm hiểu xem một chiếc máy mới có đang làm dây điện theo thông số kỹ thuật của khách hàng hay không: độ bền đứt trung bình là 70 lb. với σ = 3,5 lb. Bạn lấy mẫu 36 dây và tính giá trị trung bình mẫu là 69,7 lb. Tại 0,05 mức độ ý nghĩa, có bằng chứng cho thấy máy không đạt độ bền đứt trung bình không?

Giả thuyết:
- Giá trị trung bình $\overline{\rm X} = 69.7$
- Độ lệch chuẩn $\sigma = 3.5$ 
- Số lượng mẫu $n = 36$ (n > 30)
    - $t_{\frac{1-\alpha}{2}}$ = $t_{\frac{1 - 0.05}{2}}$ = $t_{0.475}$ = 1.96
    (Sử dụng bảng phân phối chuẩn Laplace)
- Mức ý nghĩa $\alpha = 0.05$

Có hay không bằng chứng cho $H_{0}: \overline{\rm X} = 70?$

In [31]:
class Bai4():
    
    
    def __init__(self):
        count = 36
        mean = 69.7
        std = 3.5
        self.data = np.random.normal(mean, std, count)
        
    def arrange(self):
        return self.data.sort()
    
    def mean(self):
        return sum(self.data)/len(self.data)
    
    def std(self):
        return statistics.stdev(self.data)
    
    def epsilon(self):
        return statistics.stdev(self.data)/math.sqrt(len(self.data))*1.96

In [32]:
bt4 = Bai4()
bt4.data

array([73.19036358, 68.21504957, 68.34670706, 67.91231464, 72.71245546,
       65.19382087, 77.68142574, 71.37897482, 64.18030891, 68.43256996,
       68.17133532, 69.82607612, 67.65217729, 68.30164462, 73.62790852,
       67.62709468, 73.98538881, 71.64567416, 63.29135773, 65.89027351,
       63.76517522, 68.65585624, 72.91362348, 69.87809557, 64.50906354,
       72.70088636, 70.78510951, 77.27080902, 74.50527116, 72.64517119,
       70.21528816, 71.57987491, 63.77935896, 72.96895247, 68.11771404,
       67.69061264])

In [33]:
data4 = pd.DataFrame(bt4.data)
data4.columns = ['Sức bền (LB)']
data4

    Sức bền (LB)
0      73.190364
1      68.215050
2      68.346707
3      67.912315
4      72.712455
5      65.193821
6      77.681426
7      71.378975
8      64.180309
9      68.432570
10     68.171335
11     69.826076
12     67.652177
13     68.301645
14     73.627909
15     67.627095
16     73.985389
17     71.645674
18     63.291358
19     65.890274
20     63.765175
21     68.655856
22     72.913623
23     69.878096
24     64.509064
25     72.700886
26     70.785110
27     77.270809
28     74.505271
29     72.645171
30     70.215288
31     71.579875
32     63.779359
33     72.968952
34     68.117714
35     67.690613

In [36]:
print('Giá trị trung bình là:')
mean_bt4 = bt4.mean()
print(round(mean_bt4, 4))
print('-'*50)
print('Độ lệch chuẩn của data là:')
std_bt4 = bt4.std()
print(round(std_bt4, 4))
print('-'*50)
print('Epsilon là: ')
epsilon_bt4 = bt4.epsilon()
print(round(epsilon_bt4, 4))

Giá trị trung bình là:
69.7012
--------------------------------------------------
Độ lệch chuẩn của data là:
3.7122
--------------------------------------------------
Epsilon là:
1.2127

In [37]:
h0 = 70
muy1_bt4 = mean_bt4 - epsilon_bt4
muy2_bt4 = mean_bt4 + epsilon_bt4

In [38]:
print('Vậy ước tính khoảng tin cậy 95% sức căng của máy là:')
print('(',muy1_bt4,':',muy2_bt4,')')
if (h0 > muy1_bt4) and (h0 < muy2_bt4):
    print('Không đủ bằng chứng bác bỏ giả thuyết H0')
else:
    print('Bác bỏ giả thuyết H0')

Vậy ước tính khoảng tin cậy 95% sức căng của máy là:
( 68.48856352733094 : 70.91386890804529 )
Không đủ bằng chứng bác bỏ giả thuyết H0

Bài 6: Bạn là nhà phân tích của Ford. Bạn muốn tìm hiểu xem dặm trung bình cho mỗi gallon Escorts ít nhất là 32 mpg. Các mô hình tương tự có độ lệch chuẩn là 3,8 mpg. Bạn lấy mẫu 60 Escorts và tính giá trị trung bình mẫu là 30,7 mpg. Ở cấp .01 có ý nghĩa, là có bằng chứng cho thấy dặm cho mỗi gallon là ít hơn 32?

Giả thuyết:
- Giá trị trung bình $\overline{\rm X} = 30.7$
- Số lượng mẫu $n = 60$ (n > 30)
    - $t_{\frac{1-\alpha}{2}}$ = $t_{\frac{1 - 0.01}{2}}$ = $t_{0.495}$ = 2.575
- Độ lệch chuẩn $\sigma = 3.8$
- Mức ý nghĩa $\alpha = 0.01$ 

Có hay không bằng chứng $H_{0}: \overline{\rm X} \leq 32 \implies$ (Kiểm định 1 đuôi)

Bài giải

B1: $$H_{0}: \overline{\rm X} = 32$$
    $$H_{a}: \overline{\rm X} \leq 32$$
    
B2: Chọn mô hình thống kê
    $$K = \left(\frac{\overline{\rm X} - \mu}{\sigma}.\sqrt(n)\right)$$

B3: Tìm miền bác bỏ
    $$Z_{*} = t_{\frac{1
    $$B_{\alpha} =

In [39]:
class Bai6():
    
    
    def __init__(self):
        result = []
        for x in range(count):
            a = np.random.uniform(28, 36)
            result.append(round(a, 4))
        self.data = result
        # Thử lấy giá trị ngẫu nhiên trong khoảng nhất định 
        # Chứ không sử dụng random.normal nữa
        
    def arrange(self):
        return self.data.sort()

In [42]:
bt6 = Bai6()
bt6.arrange()
bt6.data

[28.0522,
 28.0677,
 28.2333,
 28.4632,
 28.5619,
 28.5664,
 28.767,
 28.8204,
 28.8802,
 28.9228,
 29.0782,
 29.1113,
 29.1787,
 29.2701,
 29.357,
 29.3772,
 29.3795,
 30.0173,
 30.1988,
 30.272,
 30.3426,
 30.3728,
 30.7382,
 30.8391,
 31.8699,
 31.9359,
 32.0739,
 32.1025,
 32.267,
 32.3032,
 32.459,
 32.5249,
 32.5975,
 32.9889,
 33.0297,
 33.0542,
 33.2899,
 33.2925,
 33.5745,
 33.5878,
 33.7979,
 33.8305,
 33.9447,
 34.0401,
 34.179,
 34.2202,
 34.2227,
 34.3829,
 34.8799,
 34.9199,
 35.0818,
 35.2798,
 35.333,
 35.3954,
 35.3996,
 35.4178,
 35.4344,
 35.7715,
 35.7862,
 35.8931]

In [43]:
data6 = pd.DataFrame(bt6.data)
data6.columns = ['Miles per gallon(MPG)']
data6

    Miles per gallon(MPG)
0                 28.0522
1                 28.0677
2                 28.2333
3                 28.4632
4                 28.5619
5                 28.5664
6                 28.7670
7                 28.8204
8                 28.8802
9                 28.9228
10                29.0782
11                29.1113
12                29.1787
13                29.2701
14                29.3570
15                29.3772
16                29.3795
17                30.0173
18                30.1988
19                30.2720
20                30.3426
21                30.3728
22                30.7382
23                30.8391
24                31.8699
25                31.9359
26                32.0739
27                32.1025
28                32.2670
29                32.3032
30                32.4590
31                32.5249
32                32.5975
33                32.9889
34                33.0297
35                33.0542
36                33.2899
37                33.2925
38                33.5745
39                33.5878
40                33.7979
41                33.8305
42                33.9447
43                34.0401
44                34.1790
45                34.2202
46                34.2227
47                34.3829
48                34.8799
49                34.9199
50                35.0818
51                35.2798
52                35.3330
53                35.3954
54                35.3996
55                35.4178
56                35.4344
57                35.7715
58                35.7862
59                35.8931

In [ ]:
null_mean = 32