XÂY DỰNG CHƯƠNG TRÌNH KIỂM ĐỊNH Z (HOẶC T) CHO CÁC BÀI TẬP SAU

Gợi ý:

- Số liệu được sinh ngẫu nhiên theo phân phối chuẩn
- Sử dụng gói phần mềm statsmodels để tiến hành kiểm định
- Đối với các bài tập kiểm định giả thuyết thì sinh viên cần phát biểu các giả thuyết (bằng tiếng Việt) $H_{0}$ và $H_{a}$ trước khi lập trình kiểm định

Bài 1: Bạn là thanh tra Q / C cho Gallo. Độ lệch chuẩn của mẫu đối với chai 2 lít là 0,05 lít. Một mẫu ngẫu nhiên gồm 100 chai cho thấy sample trung bình = 1,99 lít. Ước lượng khoảng tin cậy 90% của lượng trung bình thực trong chai 2 lít là bao nhiêu?

Giả thuyết:

- $\overline{\rm X} = 1.99$
- $\mu = 2$
- $\sigma = 0.05$
- $\alpha = 0.1$
- $n =100$

=> Khoảng ước lượng cho $\mu = 95$% có dạng:

($\mu_{1};\mu_{2}$) = ( $\overline{\rm X} - \epsilon; \overline{\rm X} + \epsilon$)

Với $\epsilon = \left(\frac{\sigma}{\sqrt(n)}.t_{\frac{1-\alpha}{2}}\right)$

$t_{\frac{1-\alpha}{2}}$ = $t_{\frac{1 - 0.1}{2}}$ = $t_{0.45}$ = 1.645

In [1]:
import numpy as np
import pandas as pd
import random
from scipy import stats
from statsmodels.stats.weightstats import ztest
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
import statistics 
import math

In [2]:
warnings.filterwarnings('ignore')

In [71]:
class Bai1():


    def __init__(self):
        mean = 1.9
        std = 0.1
        count = 100
        self.array = np.random.normal(mean, std, count)
            
    def arrange(self):
        return self.array.sort()
    
    def mean(self):
        return (sum(self.array)/len(self.array))
    
    def sig(self):
        return statistics.stdev(self.array)

In [72]:
random.seed(0)
sample1 = Bai1()
sample1.arrange()
print(sample1.array)

[1.66669001 1.71999088 1.72162031 1.72980615 1.73296426 1.74518557
 1.75005041 1.75061123 1.7522742  1.77886552 1.78155538 1.78511527
 1.79205292 1.79545297 1.80046388 1.80174051 1.80437814 1.80845195
 1.80985768 1.81247703 1.81432836 1.81882317 1.82154637 1.83111858
 1.83680249 1.83725706 1.83738032 1.84082165 1.84696816 1.84823449
 1.85005614 1.85297921 1.85668086 1.85970867 1.86008319 1.86713349
 1.87182974 1.87313504 1.87478469 1.8805246  1.88285122 1.88958475
 1.8907083  1.89399875 1.89449193 1.89676956 1.89731626 1.89981716
 1.89995506 1.90107263 1.90564323 1.90566369 1.91434791 1.91763134
 1.91850035 1.92105801 1.92220326 1.92504039 1.92546876 1.92609887
 1.93239572 1.93915725 1.93959942 1.94337804 1.94924093 1.95635248
 1.95661885 1.96129505 1.9615566  1.96247865 1.96355331 1.9687973
 1.97358713 1.9787398  1.98621375 1.9880333  1.98937442 1.99149732
 1.99379974 1.99522777 2.00197513 2.00291392 2.00894057 2.01298904
 2.01322306 2.01444017 2.01586426 2.0161753  2.03072329 2.03289387
 2.03747434 2.04172939 2.04573808 2.06993504 2.07019478 2.07711246
 2.09183484 2.10314492 2.15199573 2.16159277]

In [73]:
test = pd.DataFrame(sample1.array)
test.columns = ['Liter']
test

       Liter
0   1.666690
1   1.719991
2   1.721620
3   1.729806
4   1.732964
..       ...
95  2.077112
96  2.091835
97  2.103145
98  2.151996
99  2.161593

[100 rows x 1 columns]

In [74]:
mean_bt1 = sample1.mean()
print(mean)
print('-'*50)
std_bt1 = sample1.sig()
print(std)
print('-'*50)
n = 100

1.8961393100735489
--------------------------------------------------
0.10164246494012155
--------------------------------------------------

In [75]:
epsilon_bt1 = (std/math.sqrt(n))*1.645
epsilon_bt1

0.016720185482649995

In [76]:
print('Vậy uớc lượng khoảng tin cậy 90% của lượng trung bình thực trong chai 2 lít là:')
print('(',mean - epsilon,':',mean + epsilon,')')

Vậy uớc lượng khoảng tin cậy 90% của lượng trung bình thực trong chai 2 lít là:
( 1.8794191245908989 : 1.9128594955561988 )

Bài 2: Bạn là một nhà phân tích nghiên cứu thời gian trong lĩnh vực sản xuất. Bạn đã ghi lại thời gian tác vụ sau (tối thiểu): 3.6, 4.2, 4.0, 3.5, 3.8, 3.1. Ước tính khoảng tin cậy 90% của thời gian thực hiện nhiệm vụ trung bình của tổng thể là bao nhiêu?

In [92]:
class Bai2():
    
    
    def __init__(self):
        count = int(input('Nhập count: '))
        data = []
        for x in range(count):
            a = np.random.uniform(3, 5)
            data.append(round(a, 4))        
        self.data = data
    
    def arrange(self):
        return self.data.sort()
    
    def mean(self):
        return (sum(self.data)/len(self.data))
    
    def std(self):
        return statistics.stdev(self.data)
    
    def epsilon(self):
        return statistics.stdev(self.data)/math.sqrt(len(self.data))

In [94]:
bt2 = Bai2()
bt2.data

Nhập count: 10

[4.2646, 3.6884, 3.1713, 4.7813, 3.5239, 4.6628, 3.53, 4.4786, 4.0657, 3.721]

In [95]:
data2 = pd.DataFrame(bt2.data)
data2.columns = ['Time']
data2

     Time
0  4.2646
1  3.6884
2  3.1713
3  4.7813
4  3.5239
5  4.6628
6  3.5300
7  4.4786
8  4.0657
9  3.7210

In [96]:
print('Giá trị trung bình là:')
mean_bt2 = bt2.mean()
print(round(mean_bt2, 4))
print('-'*50)
print('Độ lệch chuẩn của data là:')
std_bt2 = bt2.std()
print(round(std_bt2, 4))
print('-'*50)
print('Epsilon là: ')
epsilon_bt2 = bt2.epsilon()
print(round(epsilon, 4))

Giá trị trung bình là:
3.9888
--------------------------------------------------
Độ lệch chuẩn của data là:
0.5438
--------------------------------------------------
Epsilon là:
0.0167

In [97]:
print('Vậy ước tính khoảng tin cậy 90% của thời gian thực hiện nhiệm vụ trung bình của tổng thể là:')
print('(',mean_bt2 - epsilon_bt2,':',mean_bt2 + epsilon_bt2,')')

Vậy ước tính khoảng tin cậy 90% của thời gian thực hiện nhiệm vụ trung bình của tổng thể là:
( 3.816806898383439 : 4.160713101616562 )

Bài 3: Một hộp cốm trung bình có 368 gam cốm? Một mẫu ngẫu nhiên gồm 25 hộp có $\overline{\rm X}$ = 372,5. Công ty đã quy định $\sigma$ là 25 gram. Kiểm định ở mức ý nghĩa .05.

- $n = 25$
- $\overline{\rm X} = 372.5$
- $\sigma = 25$
- $\alpha = 0.05$

=> $H_{0}: \overline{\rm X} = 368? $

Vì $n = 25$ (<30) và X ~ $N(\mu, \sigma^2)$ nên:
- $df = 24; \alpha = 0.05$
 => $t_{\frac{1-\alpha}{2}}$ = $t_{\frac{1 - 0.05}{2}}$ = $t_{0.475}$ = 2.064
- $\epsilon = \left(\frac{\sigma}{\sqrt(n)}.t_{\frac{1-\alpha}{2}}\right)$

In [100]:
class Bai3():
    
    
    def __init__(self):
        count = 25
        sig = 25
        mean = 372.5
        self.data = np.random.normal(mean, sig, count)
    
    def arrange(self):
        return self.data.sort()
    
    def mean(self):
        return sum(self.data)/len(self.data)
    
    def std(self):
        return statistics.stdev(self.data)
    
    def epsilon(self):
        return statistics.stdev(self.data)/math.sqrt(len(self.data))

In [101]:
bt3 = Bai3()
bt3.data

array([346.16495667, 350.75299758, 376.84608697, 394.46871137,
       401.90752725, 394.28034466, 382.53041289, 377.27111305,
       346.04915696, 394.9226052 , 341.21756862, 354.02852023,
       378.13691871, 361.25820029, 374.87449861, 358.56891219,
       432.96535287, 361.83880207, 391.97513272, 384.35010816,
       387.07028151, 368.6669071 , 389.5496925 , 365.66017952,
       419.26522136])

In [104]:
data3 = pd.DataFrame(bt3.data)
data3.columns = ['Khối lượng tịnh (gram)']
data3

    Khối lượng tịnh (gram)
0               346.164957
1               350.752998
2               376.846087
3               394.468711
4               401.907527
5               394.280345
6               382.530413
7               377.271113
8               346.049157
9               394.922605
10              341.217569
11              354.028520
12              378.136919
13              361.258200
14              374.874499
15              358.568912
16              432.965353
17              361.838802
18              391.975133
19              384.350108
20              387.070282
21              368.666907
22              389.549693
23              365.660180
24              419.265221

In [111]:
print('Giá trị trung bình là:')
mean_bt3 = bt3.mean()
print(round(mean_bt3, 4))
print('-'*50)
print('Độ lệch chuẩn của data là:')
std_bt3 = bt3.std()
print(round(std_bt3, 4))
print('-'*50)
print('Epsilon là: ')
epsilon_bt3 = bt3.epsilon()
print(round(epsilon, 4))
h0 = 368
muy1 = mean_bt3 - epsilon_bt3
muy2 = mean_bt3 + epsilon_bt3

Giá trị trung bình là:
377.3848
--------------------------------------------------
Độ lệch chuẩn của data là:
22.7806
--------------------------------------------------
Epsilon là:
0.0167

In [116]:
print('Vậy ước tính khoảng tin cậy 95% của khối lượng trong mỗi gói cốm là:')
print('(',muy1,':',muy2,')')
if (h0 > muy1) and (h0 < muy2):
    print('Không đủ bằng chứng bác bỏ giả thuyết H0')
else:
    print('Bác bỏ giả thuyết H0')

Vậy ước tính khoảng tin cậy 95% của khối lượng trong mỗi gói cốm là:
( 372.8286861483832 : 381.9409305776652 )
Bác bỏ giả thuyết H0